/* Indholdsfortegnelse
-------------------------
Generelt
Nav
Slideshow
Galleri
Om os
Menukort
Footer
Burgermenu
Responsive

*/



/*---------- Generelt -----------*/
body {
    margin: 0;
    /*Fjerner standard margin fra siden*/


}


/*---------- Generelt SLUT -----------*/





/*-----------  Nav Menu -------------*/

#nav {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr 2fr 3fr;
    grid-template-rows: 5% 60%;
    justify-items: center;
}

#logo {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr 2fr 3fr;
    grid-template-rows: 50% 60%;
}

#logo a {
    grid-template-rows: 50% 60%;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    max-width: 90%;
    margin-top: 2vh;
}

#logo img {
    max-width: 70%;
}

li {
    margin: 1vw 3.5vw 0vw 3.5vw;
}

#nav a {
    text-decoration: none;
    color: gray;
    font-family: 'Avenir light', sans-serif;
    font-size: 1em;
    padding-bottom: 3vw;
}

#nav li:hover {
    font-style: italic;
    border-bottom: 1px solid #DD3340;
}

#nav li:active {
    border-bottom: 1px solid #DD3340;
    font-style: italic;
}

ul {
    list-style-type: none;
    margin-bottom: 2vw;
    padding: 0vw;
    overflow: hidden;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
    display: flex;
    font-family: Avenir Light;
    white-space: nowrap;
}

#active {
    border-bottom: 1px solid #DD3340;
    font-style: italic;
}


/*-----------  Nav Menu SLUT-------------*/








/*-----------  Slideshow container ------------*/

/* Citat tegn billede */
#quote-section img {
    display: block;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 7vw;

    grid-template-columns: 1fr;
    grid-gap: 10px;
}

/* Citat tegn billede slut */

#quote-section {
    background: #F2EDEB;
}

.slideshow-container {
    position: relative;
}

/* Slider */
.mySlides,
.quote_1,
.quote_2,
.quote_3 {
    display: none;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;
    text-align: center;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
    align-self: center;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    /*    background-color: rgba(0, 0, 0, 6.8);*/
    color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;

    border-radius: 10px;
    border: 1px solid #DB3C3C;
}

/* Add a background color to the active dot/circle */
.active,
.dot:hover {
    background-color: #DB3C3C;
}

/* Add an italic font style to all quotes */
.mySlides q,
.quote_1 q,
.quote_2 q,
.quote_3 q {
    font-family: Avenir;
    font-style: italic;
    line-height: 25px;
}

/* Add a blue color to the author */
.mySlides p,
.quote_1 p,
.quote_2 p,
.quote_3 p {
    font-family: Avenir light;
    color: #dd3340;
    margin-left: 2vw;
}

/*----------- Slideshow container SLUT ------------*/









/*---------------- Galleri ------------------------*/

#gallery-section .content {
    display: grid;
    margin: 3vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25% 25% 25% 25%;
    perspective: 30vw;
}

#gallery-section .content img {
    max-width: 96%;
}

.picture-left {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    text-align: center;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

#gallery-section .front img {
    max-width: 100%;
}

.front {
    height: 100%;
    width: 100%;
}

.back {
    font-family: "Avenir light", sans-serif;
    display: none;
}

.gallery-content .top {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

.gallery-content .bottom {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}

.picture-left,
.p-top-left,
.p-top-right,
.p-bottom-left,
.p-bottom-right {
    margin: 1vw;
}

.flip {
    transform: rotateY(180deg);
    transition: transform 0.8s;
}

.flip-back {
    transform: rotateY(180deg);
}


/*------------------- Galleri Slut ------------------------*/









/*------------------------- Om os------------------------*/
/*JS template som fanger og styler*/
#aboutUs h2 {
    font-family: Avenir Light;
    text-align: center;
    padding-top: 7vh;
}

#aboutUs {
    text-align: center;
}

#aboutUs p {
    font-family: Avenir Light;
    text-align: left;
    padding-left: 9vw;
    padding-right: 9vw;
    margin-bottom: 14vw;
}

#aboutUs img {
    width: 81vw;
}

/*
.mette p {
    padding-left: 11vw;
}


.thomas p {
    padding-left: 0.7vw;
    padding-right: 10.9vw;
}
*/

/*--------------------- Om os SLUT ------------------*/








/*----------------------MENU kort------------------*/
/*Styling på overordnet menukort*/

#menuCard {
    padding: 0vw;
}

#menukort {
    margin: 3vw;
}

#menukort h1 {
    font-family: "Avenir black", sans-serif;
    font-size: 1.2em;
    margin-top: 0vw;
}

#menukort p {
    font-family: "Avenir light", sans-serif;
    font-size: 0.9em;
}

#menukort img {
    max-width: 90%;

}

/*Styling på overordnet menukort SLUT*/




/*Kaffe*/
#coffee_section h1 {
    color: #F2CA50;
}

#coffee_section ul {
    display: grid;
/*    margin-left: 0vw;*/
}

.coffee-list {
    display: flex;
}

.coffee-list li {
    margin: -4vw 0vw 1vw 0vw;
}

.coffee_price_list li {
    margin-right: 40vw;
}

#coffee_section img {
    margin-top: 45vw;
    max-width: 95%;
    display: inline-grid;
}

.white-border1 {
    border: white solid 2vw;
    margin-top: 55vw;
    margin-left: -3vw;
    width: 75vw;
    height: 98vw;
    position: absolute;
}

/*Kaffe slut*/



/*morgenmad*/

.morgenmad-text {
    margin-top: -40vw;

}

#morgenmad-section h1 {
    color: #EB414F;
    font-size: 1.1em;
}

#morgenmad-section ul {
    display: grid;
}

.morgenmad-list {
    display: flex;
}

.morgenmad-list li {
    margin: -4vw 0vw 1vw 0vw;
}

.morgenmad_price_list {
    margin-right: 6vw;
}

#morgenmad-section img {
    display: none;
}

.med {
    font-style: oblique;
}


/*morgenmad slut*/



/*koldedrikke*/
#koldedrikke-section h1 {
    color: #798C35;
}

#koldedrikke-section ul {
    display: grid;
}


.drikke-list {
    display: flex;
}

.drikke-list li {
    margin: -4vw 0vw 1vw 0vw;
}

.drikke_price_list li {
    margin-right: 53vw;
}

#koldedrikke-section h1 {
    margin-top: 3vh;
}

.menu-right-last {
    margin-top: 15vw;
    margin-left: 5vw;
    width: 100%;
    display: grid;
}

.white-border2 {
    border: white solid 2vw;
    margin-top: 72vw;
    margin-left: -3vw;
    width: 70vw;
    height:70vw;
    position: absolute;
}
/*koldedrikke slut*/


/*Grid*/
#coffee_section,
#morgenmad-section,
#koldedrikke-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 20% 20% 20%;
}

.menu-left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 4vw;
}

#koldedrikke-section .menu-left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.menu-right {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
    padding-left: 4vw;
}

#morgenmad-section .menu-right {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;
    text-align: left;
    margin-top: 0vh;
}

.menu-right-last {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 6;
    text-align: center;
    padding-top: 9vh;
}

/*Grid slut*/





/*
.whiteborder1 {
    border: 1vw solid white;
    max-width: 30vw;
    z-index: absolute;
}
*/

.whiteborder2 {}

.whiteborder3 {}


/*--------------------MENU kort SLUT------------------*/













/*------------ 6: Footer container START -------------*/

/*SIGN UP MAILCHIMP STYLING */
#mc_embed_signup {
    clear: left;
    font: 14px Avenir light, Avenir Black, sans-serif;
    margin-left: 10vw;
    margin-right: -10vw;
}

#mc_embed_signup .mc-field-group input {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 0px;
}

::-webkit-input-placeholder {
    /* Edge */
    color: white;
    font: 'Avenir Black', sans-serif;
    font-style: oblique;
}

/*Grunden til der står "important" er fordi at Mailchimp egen CSS er dominerende for den taget kode. Med important kan man fastgøre at det er vigtigt og dermed fange det man vil style*/

#mc_embed_signup .button {
    background-color: transparent !important;
    border: 1px solid white !important;
    border-radius: 0px !important;
    font: Avenir light, Avenir Black, sans-serif !important;
    font-size: 11px !important;
    padding: 6px 6px 6px 6px !important;
    line-height: inherit !important;
    height: 30px !important;
}

#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {
    border: 2px solid white !important;
}

#mc_embed_signup div#mce-responses {
    width: auto !important;
    padding: auto !important;
    margin: auto !important;
}

#mail_section {
    display: flex;
}

/*SIGN UP MAILCHIMP STYLING SLUT*/


/*SoMe ikoner i footer*/
.some_container {
    padding-top: 9.2vh;
    padding-left: 16px;
}

.some_container svg {
    width: 15%;
    padding-right: 10px;
}

path:hover {
    fill: #000000;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}

/*SoMe ikoner i footer SLUT*/


/*------------ 6: Footer container SLUT -------------*/






/*------------ 7: Burgermenu Mobile ----------------*/

.burgermenu {
    margin: 1em;
}

.burgernav {
    display: none;
}

.burgernav button {
    display: flex;
    cursor: pointer;
    font-size: 1.5em;
    cursor: pointer;
}

.burgernav button a {
    text-decoration: none;
    font-family: "Avenir Light", sans-serif;
    color: gray;
    padding: 0.5em;
    font-size: 16px;
}

.burgernav button a:hover {
    font-style: italic;
}

.burgernav button a:active {
    font-style: italic;
}

.burger .menu-button {
    display: block;
}

.menu-button {
    color: #DD3340;
    display: block;
}

#nav {
    display: none;
}

#logo {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
}

#logo a {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-top: 1.7em;
    max-width: 100%;
    text-align: center;
}

.burger {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100%;
}

.menu-button {
    grid-column-start: 0;
    grid-column-end: 0;
    grid-row-start: 1;
    font-size: 1.6em;
    /*        cursor: pointer;*/
}


/*------------ 7: Burgermenu Mobile SLUT -----------*/












/*-------------------- 8: RESPONSIVE-----------------*/
@media screen and (min-width: 298px) {


    /*----------- Burgermenu --------------*/
    .menu-button {
        display: none;
    }

    #nav {
        display: none;
    }

    #logo {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 50% 50%;
    }

    #logo a {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        margin-top: 1.7em;
        max-width: 100%;
        text-align: center;
    }

    .burger {
        display: grid;
    }

    .burger .menu-button {
        display: grid;
    }

    /*----------- Burgermenu SLUT --------------*/

}



@media screen and (min-width: 300px) {

    /*Om os citat*/
    .mySlides p,
    .quote_1 p,
    .quote_2 p,
    .quote_3 p {
        margin-left: 6vw;
    }

    /*Om os citat SLUT*/

    /*Footer*/
    #box {
        font-size: 14px;
    }

    .some_container svg {
        width: 25%;
    }

    #box {
        background-color: #dd3340;
        font-family: Avenir light;
        color: white;
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
        grid-template-rows: 25% 25% 25% 25%;
        letter-spacing: 0.7px;
        font-size: 13px;
    }

    #footer_box {
        grid-column-start: 2;
        grid-column-end: 6;
    }

    #footer_box2 {
        grid-column-start: 2;
        grid-column-end: 6;
    }

    .footer-left {
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 1;
        padding-top: 3vh;
    }

    .footer-right {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 2;
        padding-top: 3vh;
        padding-bottom: 3vh;
    }

    #mc_embed_signup {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 3;
        padding-top: 3vh;
        padding-bottom: 3vh;
    }

    /*Webite - text-stroke - er for at gøre tekst skriften mere bold */
    #mc_embed_signup h2 {
        font-size: 1em !important;
        -webkit-text-stroke: 0.3px white;
    }

    #mc_embed_signup form {
        padding: 0vw !important;
    }

    .some_container {
        grid-column-start: 3;
        grid-row-start: 4;
        grid-row-end: 4;
        padding-top: 2.5vh;
        padding-bottom: 0vh;
        padding-left: 2vw;
    }

    .some_container svg {
        width: 30%;
    }

    /*Footer*/
}






@media screen and (min-width: 441px) {

    /* Logo størrelse */
    #logo img {
        max-width: 60%;
    }

    /* Logo SLUT */
    /*MENUKORT*/
    /*Styling af produkt og priser */
    #menuCard {
        padding: 2vw;
    }

    .coffee-list {
        margin-top: 0vh;
    }

    .coffee_price_list li {
        margin-right: vw;
    }

    .morgenmad_price_list {
        margin-right: 24vw;
    }

    .drikke_price_list li {
        margin-right: 60vw;
    }

    /*Styling af produkt og priser SLUT */
    /*MENUKORT SLUT*/


}


@media screen and (min-width: 500px) {

    /*MENUKORT*/
    /*Styling af produkt og priser */

    #menuCard {
        padding: 6vw;
    }

    .coffee_price_list li {
        margin-right: 52vw;

    }

    .morgenmad_price_list {
        margin-right: 33vw;
    }

    .morgenmad-list li {
        margin: -3vw 0vw 1vw 0vw;
    }

    .drikke_price_list li {
        margin-right: 63vw;
    }

    .menu-left p {
        margin-top: 3vh;
    }

    /*beskrivelses tekst styling*/

    .coffee-text p {
        padding: 0vw 13vw 0vw 0vw;
    }

    .morgenmad-text p {
        padding: 0vw 13vw 0vw 0vw;
    }

    .drikke-text p {
        padding: 0vw 13vw 0vw 0vw;
    }

    /*beskrivelses tekst styling SLUT*/


    #coffee_section img {
        margin-top: 17vh;
    }

    .menu-right {
        padding: 0vh;
        text-align: center;
    }

    .menu-right-last {
        text-align: left;
    }

    .menu-left {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        margin: 0vw;
    }

    #menukort img {
        max-width: 100%;
    }

    /*Styling af produkt og priser SLUT
    /*MENUKORT SLUT*/




}


@media screen and (min-width: 505px) {

    /* Logo størrelse */
    #logo img {
        max-width: 60%;
        margin-right: 2vw;
    }

    /* Logo SLUT */

    /*Om os citat*/
    .mySlides p,
    .quote_1 p,
    .quote_2 p,
    .quote_3 p {
        margin-left: 40vw;
    }

    /*Om os citat SLUT*/
}




@media screen and (min-width: 527px) {


    /* Logo størrelse */
    #logo img {
        max-width: 65%;
        margin-right: 1.5vw;
    }

    /* Logo SLUT */

    /*MENUKORT*/
    /*Styling af produkt og priser */

    #menuCard {
        padding: 9vw;
    }

    .coffee_price_list li {
        margin-right: 46vw;
    }

    .morgenmad_price_list {
        margin-right: 29vw;
    }

    .drikke_price_list li {
        margin-right: 56vw;
    }

    .menu-left p {
        margin-top: 3vh;
    }

    /*Styling af produkt og priser SLUT */

    /*beskrivelses tekst styling*/
    .coffee-text p {
        padding: 0vw 13vw 0vw 0vw;
    }

    .morgenmad-text p {
        padding: 0vw 13vw 0vw 0vw;
    }

    .drikke-text p {
        padding: 0vw 13vw 0vw 0vw;
    }

    /*beskrivelses tekst styling SLUT*/

    /*MENUKORT SLUT*/


}

@media screen and (min-width: 600px) {

    /* Logo størrelse */
    #logo img {
        max-width: 50%;
        margin-right: 2vw;
    }

    /* Logo SLUT */


    /*MENUKORT*/
    /*Styling af produkt og priser */

    #menuCard {
        padding: 13vw;
    }

    /*beskrivelses tekst styling SLUT*/


    /* Galleri */
    #gallery-section .content {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 25% 25% 25% 25%;
    }


    .picture-left {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 5;
    }


    .gallery-content .top {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
        margin: 0.5vw;
    }

    .gallery-content .bottom {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 5;
        margin: 0.5vw;
    }

    .p-top-left,
    .p-top-right,
    .p-bottom-left,
    .p-bottom-right {
        margin: 0.5vw;
    }

    /* Galleri SLUT */




    /*Om os citat*/
    .mySlides p,
    .quote_1 p,
    .quote_2 p,
    .quote_3 p {
        margin-left: 50vw;
    }

    /*Om os citat SLUT*/


    /*Footer*/
    .some_container svg {
        width: 20%;
    }

    /*Footer SLUT*/

}



@media screen and (min-width: 610px) {

    /*Om os thomas og mette*/
    #aboutUs p {
        padding-left: 15vw;
        padding-right: 14vw;
    }

    #aboutUs img {
        width: 70vw;
    }

    /*Om os thomas og mette*/



    /*MENUKORT*/
    /*Styling af produkt og priser */

    #menuCard {
        padding: 15vw;
        padding-top: 0vw;
    }

    .coffee_price_list li {
        margin-right: 38vw;
    }

    .morgenmad_price_list {
        margin-right: 23vw;
    }

    .drikke_price_list li {
        margin-right: 48vw;
    }

    .menu-left p {
        margin-top: 5vh;
    }


    #coffee_section img {
        margin-top: 22vh;
    }

    /*beskrivelses tekst styling SLUT*/


}

@media screen and (min-width: 648px) {


    /*MENUKORT*/
    /*Styling af produkt og priser */

    #menuCard {
        padding: 15vw;
        padding-top: 0vw;
    }

    .coffee_price_list li {
        margin-right: 40vw;
    }

    .morgenmad_price_list {
        margin-right: 25vw;
    }

    .drikke_price_list li {
        margin-right: 48vw;
    }

    .menu-left p {
        margin-top: 3.4vh;
    }

    .morgenmad-list p {
        margin-top: 2.7vh;
    }


    #coffee_section img {
        margin-top: 12vh;
    }

    /*beskrivelses tekst styling SLUT*/


}


@media screen and (min-width: 710px) {

    /*Om os thomas og mette*/
    #aboutUs p {
        padding-left: 17vw;
        padding-right: 17vw;
    }

    #aboutUs img {
        width: 65vw;
    }

    /*Om os thomas og mette*/


    /*menu*/
    .menu-left p {
        margin-top: 3.7vh;
    }

    /*menu slut*/
}





@media screen and (min-width: 768px) {

    /* Logo størrelse */
    #logo img {
        max-width: 45%;
        margin-right: 1.5vw;
    }

    /* Logo SLUT */



    /*Burgermenu */
    .burgermenu {
        display: none;
    }

    /*Burgermenu SLUT*/



    /*Navbar visning ved tablet*/
    #nav {
        display: grid;
    }

    /*Navbar visning ved tablet SLUT*/



    /*Menukort*/
    #menuCard {
        padding: 5vw;
    }

    #morgenmad-section img {
        max-width: 48vw;
        display: grid;
    }

    /*Menukort slut*/


    /*Grid*/
    #coffee_section,
    #morgenmad-section,
    #koldedrikke-section {
        display: flex;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50% 50%;
    }

    .menu-left {
        display: grid;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        margin: 0vw;
        margin-right: 4.1vw;
    }

    .menu-right {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }


    #morgenmad-section .menu-right {
        text-align: left;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        margin: 0vw;
    }


    #morgenmad-section h1 {
        margin-top: 0vh;
    }

    .menu-right-last {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 6;
    }

    /*Grid slut*/




    /* Kaffe sektion*/

    .coffee-list li {
        margin: 0vw 0vw 0vw 0vw;
    }

    .coffee_price_list li {
        margin-right: 18vw;
    }

    .menu-left p {
        margin-top: 0vh;
    }

    #coffee_section img {
        margin-top: 0px;
        width: 190vw;
        height: 70vh;
    }

    /*Kaffe sektion SLUT */



    /*morgenmad section*/
    .morgenmad-list li {
        margin: -2vw 0vw 0vw 0vw;
    }

    .morgenmad_price_list {
        margin-right: 5vw;
    }

    #morgenmad-section {
        padding-top: 7vw;
    }

    .morgenmad-text p {
        padding: 0vw 0vw 0vw 0vw;
    }

    #morgenmad-section img {
        max-width: 43vw;
        padding-left: 0px;
    }

    /*morgenmad section SLUT */





    /*Kolde drikke sektion*/
    #koldedrikke-section {
        padding-top: 9vw;
    }

    .drikke-list li {
        margin: 0vw 0vw -1vw 0vw;
    }

    .drikke_price_list {
        margin-right: 25vw;
    }

    .coffee-text p {
        padding: 0vw;
    }

    #koldedrikke-section h1 {
        margin-top: 0vw;
    }

    .menu-right-last {
        padding-top: 0vw;
    }

    .drikke-text p {
        padding: 0vw 0vw 0vw 0vw;
    }

    /*Kolde drikke slut*/

    /*Menukort SLUT*/





    /* Galleri */
    #gallery-section .content {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 10% 10% 10% 10%;
    }

    /* Galleri SLUT*/



    /*Footer*/
    #footer_box {
        display: grid;
    }

    .footer-left {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 2;
        padding-top: 5vh;
    }

    .footer-right {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        padding-top: 4.4vh;
        padding-right: 9vw;
    }

    #mc_embed_signup {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 6;
        grid-row-end: 2;
        padding-top: 10vh;
    }

    .some_container {
        grid-column-start: 4;
        grid-column-end: 4;
        grid-row-start: 6;
        grid-row-end: 2;
        padding-top: 17vh;
        padding-left: 9vw;
    }

    .some_container svg {
        width: 26%;
    }

    /*Footer*/




    /*---------------------- Om os ------------------*/
    /*JS template som fanger og styler*/

    #aboutUs {
        border: none;
    }

    #aboutUs h2 {
        font-family: Avenir Light;
        text-align: center;
        padding-top: 7vh;
        padding-bottom: 7vh;
    }

    /*JS template som fanger og styler*/
    .grid-colum-2 {
        display: grid;
        grid-template-columns: 2fr 2fr;
    }

    #aboutUs img {

        margin-bottom: 9vw;
    }

    .mette img {
        text-align: end;
        padding-right: 3px;

    }

    .thomas,
    img {
        text-align: start;
        padding-left: 8px;
    }


    #aboutUs .mette p {
        padding-left: 3vw;
        padding-right: 2vw;

    }

    #aboutUs .thomas p {
        padding-left: 1vw;
        padding-right: 2vw;
    }


    #aboutUs img {
        width: 45vw;
        margin-bottom: 0vw;
    }





    /*Om os citat*/
    .mySlides p,
    .quote_1 p,
    .quote_2 p,
    .quote_3 p {
        margin-left: 50vw;
    }

    /*---------------------- Om os SLUT ------------------*/

}



@media screen and (min-width: 800px) {

    /* Logo størrelse */
    #logo img {
        max-width: 40%;
        margin-right: 1.5vw;
    }

    /* Logo SLUT */

    /*Menukort*/
    /* Billede på morgemad og frokost*/
    #morgenmad-section img {
        margin-top: 0px;
        width: 190vw;
        height: 68vh;
    }

    /*Menukort SLUT */




    /*Om os - Thomad og Mette*/

    #aboutUs .mette p {
        padding-left: 3vw;
        padding-right: 2vw;

    }

    #aboutUs .thomas p {
        padding-left: 1vw;
        padding-right: 4vw;
    }

    #aboutUs img {
        width: 35vw;
        margin-bottom: 0vw;
    }

    #aboutUs {
        padding-left: 9vw;
        padding-right: 9vw;
    }

    /*Om os - Thomad og Mette SLUT*/





    /*Forside Citat */
    .slideshow-container {
        padding-left: 60px;
        padding-right: 60px;
    }

    /*Forside Citat SLUT*/
}




@media screen and (min-width: 842px) {

    /* Logo størrelse */
    #logo img {
        max-width: 40%;
        margin-right: 1.5vw;
    }

    /* Logo SLUT */

    /*Menukort*/
    #menuCard {
        padding: 9vw;
    }

    #morgenmad-section img {
        max-width: 38vw;
    }

    #morgenmad-section {
        padding-top: 8vw;
    }

    /*Menukort SLUT*/
}





@media screen and (min-width: 940px) {

    /* Logo størrelse */
    #logo img {
        max-width: 35%;
        margin-right: 1.5vw;
    }

    /* Logo SLUT */

    /*Menukort*/
    /* Billede på morgemad og frokost*/
    #morgenmad-section img {
        margin-top: 0px;
        width: 100vw;
        height: 69vh;
    }

    /*Menukort SLUT */


    /*Forside Citat */
    .slideshow-container {
        padding-left: 80px;
        padding-right: 80px;
    }

    .mySlides p,
    .quote_1 p,
    .quote_2 p,
    .quote_3 p {
        margin-left: 54vw;
    }

    /*Forside Citat SLUT*/
}




@media screen and (min-width: 983px) {

    /* Logo størrelse */
    #logo img {
        max-width: 40%;
    }

    /* Logo SLUT */

    /*Menukort*/
    #menuCard {
        padding: 12vw;
    }

    #morgenmad-section img {
        max-width: 36vw;
    }

    #morgenmad-section {
        padding-top: 6vw;
    }

    /*Menukort SLUT*/
}



@media screen and (min-width: 1000px) {

    /* Logo størrelse */
    #logo img {
        max-width: 40%;
        margin-right: 1vw;
    }

    /* Logo SLUT */

    /*Menukort*/
    #menuCard {
        padding: 5vw 12vw 5vw 14vw;
    }

    /*Menukort SLUT*/


    /*Forside Citat */
    .slideshow-container {
        padding-left: 120px;
        padding-right: 120px;
    }

    /*Forside Citat SLUT*/

    /*Om os citat*/
    .mySlides p,
    .quote_1 p,
    .quote_2 p,
    .quote_3 p {
        margin-left: 48vw;
    }

    /*Om os citat SLUT*/


}

@media screen and (min-width: 1024px) {

    /* Logo størrelse */
    #logo img {
        max-width: 35%;
        margin-right: 1vw;
    }

    /* Logo SLUT */




    /*Menukort*/
    #menuCard {
        padding: 5vw 12vw 5vw 12vw;
    }

    #coffee_section img {
        margin-top: 0px;
        max-width: 34vw;
    }

    .coffee_price_list {
        margin-right: -2vw;
    }

    .coffee-text p {
        padding-right: 0.5vw;
        letter-spacing: 0.2px;
    }

    .morgenmad-list {
        margin-top: 3vw;
    }

    #morgenmad-section img {
        margin-top: 0px;
        max-width: 34vw;
    }

    .morgenmad-text p {
        padding-right: 2.8vw;
        letter-spacing: 0.2px;
    }

    .morgenmad-list li {
        padding-right: 2.8vw;
    }

    #koldedrikke-section img {
        max-width: 104%;
    }

    .drikke-text p {
        padding-right: 6vw;
        letter-spacing: 0.2px;
    }

    .drikke_price_list {
        margin-right: 18vw;
    }

    /*Menukort SLUT*/



    /*Footer*/
    #footer_box {
        display: grid;
        grid-column-start: 1;
        grid-column-end: 4;
        margin-left: 2.5vw;
    }

    .footer-left {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .footer-right {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    #mc_embed_signup {
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 3;
        padding-top: 4vh;
        padding-right: 10vw;
    }

    .some_container {
        grid-column-start: 6;
        grid-row-start: 6;
        grid-row-start: 1;
        grid-row-end: 6;
        padding-top: 10vh;
        padding-left: 32vw;
    }

    .some_container svg {
        width: 23%;
    }

    /*Footer*/


}


@media screen and (min-width: 1100px) {

    /* Logo størrelse */
    #logo img {
        max-width: 33%;
        margin-right: 1vw;
    }

    /* Logo SLUT */


    /*Menukort*/
    #menuCard {
        padding: 5vw 12vw 5vw 12vw;
    }

    #koldedrikke-section img {
        max-width: 84%;
        padding-left: 6vw;

    }

    /*Menukort SLUT*/


    /*Forside Citat */
    .slideshow-container {
        padding-left: 140px;
        padding-right: 140px;
    }

    .mySlides p,
    .quote_1 p,
    .quote_2 p,
    .quote_3 p {
        margin-left: 51vw;
    }

    /*Forside Citat SLUT*/


}

@media screen and (min-width: 1200px) {

    /* Logo størrelse */
    #logo img {
        max-width: 30%;
        margin-right: 1vw;
    }

    /* Logo SLUT */




    /*Om os - Thomad og Mette*/

    .mette img {
        text-align: end;
        padding-left: 7vw;

    }

    .thomas img {
        text-align: start;
        padding-left: 0vw;
    }

    #aboutUs .mette p {
        padding-left: 8.8vw;
        padding-right: 2vw;
    }

    #aboutUs .thomas p {
        padding-left: 0vw;
        padding-right: 8.9vw;
    }

    #aboutUs img {
        width: 30vw;
        margin-bottom: 0vw;
    }


    /*Om os - Thomad og Mette SLUT*/










    /*Menukort*/
    #menuCard {
        padding: 5vw 12vw 5vw 14vw;
    }

    #koldedrikke-section img {
        max-width: 80%;
    }

    /*Menukort SLUT*/


    /*Forside Citat */
    .slideshow-container {
        padding-left: 200px;
        padding-right: 200px;
    }

    /*Forside Citat SLUT*/

    /*Om os citat*/
    .mySlides p,
    .quote_1 p,
    .quote_2 p,
    .quote_3 p {
        margin-left: 43vw;
    }

    /*Om os citat SLUT*/

}

@media screen and (min-width: 1300px) {

    /* Logo størrelse */
    #logo img {
        max-width: 28%;
    }

    /* Logo SLUT */


    /*Menukort*/
    #menuCard {
        padding: 5vw 24vw 5vw 24vw;
    }

    #coffee_section img {
        max-width: 30vw;
    }

    #morgenmad-section img {
        max-width: 30vw;
        height: 76vh;
    }

    .morgenmad-list li {
        margin: -1vw 0vw 0vw 0vw;
    }

    #koldedrikke-section img {
        max-width: 29vw;
    }

    #koldedrikke-section .menu-left {
        margin-right: 1vw;
    }



    /*Menukort SLUT*/



    /*Forside Citat */
    .slideshow-container {
        padding-left: 240px;
        padding-right: 240px;
    }

    /*Forside Citat SLUT*/

    /*Om os citat*/
    .mySlides p,
    .quote_1 p,
    .quote_2 p,
    .quote_3 p {
        margin-left: 41vw;
    }

    /*Om os citat SLUT*/

}

@media screen and (min-width: 1400px) {

    /* Logo størrelse */
    #logo img {
        max-width: 28%;
    }

    /* Logo SLUT */


    /*Menukort*/
    #menuCard {
        padding: 5vw 17vw 5vw 16vw;
    }

    #koldedrikke-section {
        padding-top: 5vw;
    }

    #koldedrikke-section img {
        max-width: 27vw;
    }

    .drikke_price_list {
        margin-right: 18vw;
    }

    /*Menukort SLUT*/

    /*Forside Citat */
    .slideshow-container {
        padding-left: 330px;
        padding-right: 330px;
    }

    .mySlides p,
    .quote_1 p,
    .quote_2 p,
    .quote_3 p {
        margin-left: 31vw;
    }

    #quote-section img {
        width: 4vw;
    }

    /*Forside Citat SLUT*/

}
