body {
    margin: 0;
    /*Fjerner standard margin fra siden*/
}

img {
    width: 50vw;
}

/* Slideshow container */

/* Citat tegn billede */

#quote-section img {
    display: block;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 7vw;

    grid-template-columns: 1f;
    grid-gap: 10px;
}

/* Citat tegn billede slut */

#quote-section {
    background: #F2EDEB;
}

.slideshow-container {
    position: relative;
}

/* Slides */
.mySlides,
.quote_1,
.quote_2,
.quote_3 {
    display: none;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;
    text-align: center;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
    align-self: center;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    /*    background-color: rgba(0, 0, 0, 6.8);*/
    color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;

    border-radius: 10px;
    border: 1px solid #DB3C3C;
}

/* Add a background color to the active dot/circle */
.active,
.dot:hover {
    background-color: #DB3C3C;
}

/* Add an italic font style to all quotes */
.mySlides q,
.quote_1 q,
.quote_2 q,
.quote_3 q {
    font-family: Avenir;
    font-style: italic;
    line-height: 25px;

}

/* Add a blue color to the author */
.mySlides p,
.quote_1 p,
.quote_2 p,
.quote_3 p {
    font-family: Avenir light;
    color: #dd3340;
    margin-left: 44vw;
}



/*--------------------RESPONSIVE-----------------*/

@media screen and (min-width: 800px) {

    /*Forside Citat */
    .slideshow-container {
        padding-left: 60px;
        padding-right: 60px;

    }

    /*Forside Citat SLUT*/

}

@media screen and (min-width: 940px) {

    /*Forside Citat */
    .slideshow-container {
        padding-left: 80px;
        padding-right: 80px;
    }

    .mySlides p,
    .quote_1 p,
    .quote_2 p,
    .quote_3 p {

        margin-left: 43vw;
    }

    /*Forside Citat SLUT*/


}

@media screen and (min-width: 1000px) {

    /*Forside Citat */
    .slideshow-container {
        padding-left: 120px;
        padding-right: 120px;
    }

    /*Forside Citat SLUT*/

}

@media screen and (min-width: 1100px) {

    /*Forside Citat */
    .slideshow-container {
        padding-left: 140px;
        padding-right: 140px;
    }

    .mySlides p,
    .quote_1 p,
    .quote_2 p,
    .quote_3 p {

        margin-left: 45vw;
    }

    /*Forside Citat SLUT*/


}

@media screen and (min-width: 1200px) {

    /*Forside Citat */
    .slideshow-container {
        padding-left: 200px;
        padding-right: 200px;
    }

    /*Forside Citat SLUT*/

}

@media screen and (min-width: 1300px) {

    /*Forside Citat */
    .slideshow-container {
        padding-left: 240px;
        padding-right: 240px;
    }

    /*Forside Citat SLUT*/


}

@media screen and (min-width: 1400px) {

    /*Forside Citat */
    .slideshow-container {
        padding-left: 330px;
        padding-right: 330px;
    }

    .mySlides p,
    .quote_1 p,
    .quote_2 p,
    .quote_3 p {
        margin-left: 31vw;
    }

    #quote-section img {
        width: 4vw;
    }

    /*Forside Citat SLUT*/

}
